* {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.display {
    height: 60px;
    margin-bottom: 8px;
    font-size: 50px;
    text-align: right;
    border: black solid;
    color: black;
}
.calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 400px;
    padding: 10px;
    background-color: #f0f0f0;
    
}

.row {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 4px;
}

button {
    flex: 1;
    height: 90px;
    font-size: 30px;
    border: 2px solid black;
}

button:active {
  background-color: rgb(220, 214, 214);
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

#clear {
    flex: 3.5;
}