* {
    font-family: Arial, Helvetica, sans-serif
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display {
    height: 40px;
    margin-bottom: 4px;
}
.calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 400px;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 4px;
}

button {
    flex: 1;
    height: 50px;
    font-size: 20px;
}

#clear {
    flex: 3.5;
}